.wrapper {
}

.title {
  margin-top: 160px;
  color: rgba(20, 20, 20, 1);
  text-transform: uppercase;
  font-family: Orchidea Pro;
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}

.item {
  width: 320px;
  height: 490px;
  background-color: blueviolet;
}

@media screen and (max-width: 1200px) {
  .title {
    font-family: Orchidea Pro;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0px 20px;
  }
}
